@media (max-width: 1260px) {
    .menu-top .navbar-nav {
        position: absolute;
        display: none;
        top: 0;
        background-color: #4285f4;
        height: 100vh;
        line-height: 3em;
        right: 0;
        width: 100%;
        z-index: 999;
        text-align: center;
        padding-top: 15%;
    }
    .menu-top #toggle {
        position: absolute;
        display: block!important;
        right: 1em;
        font-size: 2em;
        z-index: 9999;
    }
}

@media (max-width:720px) {
    .ct2 {
        display: none;
    }
    .menu-top .navbar-nav {
        padding-top: 10%;
    }
}