@media (max-width: 1260px) {
    .menu-top .navbar-nav {
        position: absolute;
        display: none;
        top: 0;
        background-color: #4285f4;
        height: 100vh;
        line-height: 3em;
        right: 0;
        width: 100%;
        z-index: 999;
        text-align: center;
        padding-top: 15%;
    }
    .menu-top #toggle {
        position: absolute;
        display: block!important;
        right: 0;
        font-size: 2em;
        z-index: 9999;
    }
}

@media (max-width:720px) {
    .ct2 {
        margin-top: 2em !important;
    }
    .menu-top {
        height: 3em !important;
        line-height: 3em !important;
        box-shadow: none;
    }
    .menu-top .navbar-brand {
        font-size: 1em !important;
        letter-spacing: .1em;
    }
    .gia,
    .tensp {
        font-size: .6em !important;
    }
}